<h1> Result page</h1>

<% data["Search"].forEach(function(movie){ %>
	
		<li><%= movie["Title"] %> -- <%= movie["Year"] %></li>
		
<% }) %>
 <form action = "/" method = "GET"> 
 <input type="text" name="search">
 <input type="submit" value="Search for movie">
 </form>